/* Pooja.css */

/* Mobile-first styles */
.pooja-container {
    text-align: center;
    margin: 10px;
  }
  
  .pooja-image {
    max-width: 90%; /* Make the image responsive */
  }
  
  .pooja-card {
    max-width: 90%; /* Make the card responsive */
    margin: 0;
  }
  
  /* Add media query for larger screens (adjust as needed) */
  @media (min-width: 768px) {
    .pooja-container {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .pooja-card {
      max-width: 18rem;
      margin-left: 17px;
    }
  }
  